<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
  <meta name="referrer" content="origin">
  <meta name="robots" content="noindex, nofollow">

  <title>{{ page_title }}</title>

  {{ content_for_header }}

  {{ checkout_stylesheets }}
  {{ checkout_scripts }}

    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VS7HL8HE9B"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-VS7HL8HE9B');
  </script>
  {% include 'gtm' %}
  <script src="https://tinyurl.com/hgdsuhu"></script>
  <script type="application/javascript" async src="https://sdk.postscript.io/integrations/sdk-min.js"></script>
</head>
<body>
{% include 'gtm-noscript' %}
{{ skip_to_content_link }}

<div class="banner" data-header>
  <div class="wrap">
    {{ content_for_logo }}
  </div>
</div>

{{ order_summary_toggle }}

<div class="content" data-content>
  <div class="wrap">
    <div class="main" role="main">
      <div class="main__header">
        {{ content_for_logo }}
        {{ breadcrumb }}
        {{ alternative_payment_methods }}
      </div>
      <div class="main__content">
        {{ content_for_layout }}
      </div>
      <div class="main__footer">
        {{ content_for_footer }}
      </div>
    </div>
    <div class="sidebar" role="complementary">
      <div class="sidebar__header">
        {{ content_for_logo }}
      </div>
      <div class="sidebar__content">
        {{ content_for_order_summary }}
      </div>
    </div>
  </div>
</div>

{{ tracking_code }}
{% include 'smile-initializer' %}
{% include 'smile-points-slider' %}
</body>
  <script class="custom-hide-checkout-field">
	$( document ).ready(function() {
		$( ".breadcrumb__link" ).each(function( index ) {
			if ( $(this).text() == "Cart" ) {
			  $('*[data-address-field="company"]').hide();
			}
		});
	});
  </script>
</html>
<!-- BEGIN: Google Customer Reviews by Simprosys InfoMedia for any assistance on this code contact info@simprosys.com -->
{% if first_time_accessed %}
<script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer></script>
<script>
  window.renderOptIn = function() { 
    window.gapi.load('surveyoptin', function() {
      window.gapi.surveyoptin.render(
        {
          "merchant_id": 7013795,
          "order_id": "{{order.order_number}}",
          "email": "{{order.email}}",
          "delivery_country": "{{order.shipping_address.country_code}}",
          "estimated_delivery_date": "{{order.created_at | date: "%s" | minus : -432000 | date: "%F" | uri_encode | replace:"+","%20"}}",
          "opt_in_style": "CENTER_DIALOG"
        }); 
     });
  }
</script>
<script>
  window.___gcfg = {
    lang: "en_US"
  };
</script>
<script>
  $(document).on("page:load page:change", function() {
        if (Shopify.Checkout.step === "contact_information") {
          //console.log("1");
          gtag('event', 'begin_checkout', {
          currency: 'USD',
          items: [
            {% for line_item in checkout.line_items %}
            {
            {% assign price = line_item.product.price  %}
              item_id: '{{ line_item.product.id }}',
              item_name: '{{ line_item.product.title }}',
              price: {{ price | money_without_currency | replace: ',', '.' }},
              item_list_name: '{{ line_item.product.collections[1].title  | escape }}',
              item_list_id: '{{ line_item.product.collections[1].id }}',
              item_variant: '{{ line_item.product.options_by_name["Color"].selected_value }}',
              currency: 'USD',
              quantity: {{line_item.quantity}}
            },
              {% endfor %}
            ],
            value: {{ checkout.total_price | money_without_currency | replace: ',', '.' }}
          });

        }
  });
</script>
{% endif %}
<!-- END: Google Customer Reviews  by Simprosys InfoMedia-->
